@model TourGuideWebsite.Models.EventDetails

@{
    ViewBag.Title = "AdvancedSearch";
}

<h2>Advanced Search</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>EventDetails</legend>
        <p>
            Fill at least one of the following fields to search a tour:
        </p>
        <div class="editor-label">
            Tour Name
        </div>
        <div class="editor-field">
            @Html.DropDownList("TourNameOptions", (List<SelectListItem>)ViewBag.TourNameOptions, new { @Id = "tourName" })
        </div>
        <div class="editor-label">
            Tour Date
        </div>
        <div class="editor-field">
            @Html.DropDownList("TourDateOptions", (List<SelectListItem>)ViewBag.TourDateOptions, new { @Id = "tourDate" })
        </div>
        <div class="editor-label">
            Tour Area
        </div>
        <div class="editor-field">
            @Html.DropDownList("TourAreaOptions", (List<SelectListItem>)ViewBag.TourAreaOptions, new { @Id = "tourArea" })
        </div>
        <div class="editor-label">
            Tour Location
        </div>
        <div class="editor-field">
            @Html.DropDownList("TourLocationOptions", (List<SelectListItem>)ViewBag.TourLocationOptions, new { @Id = "tourLocation" })
        </div>
        <div class="editor-label">
            Tour Category
        </div>
        <div class="editor-field">
            @Html.DropDownList("TourCategoryOptions", (List<SelectListItem>)ViewBag.TourCategoryOptions, new { @Id = "tourCategory" })
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
