@model List<TourGuideWebsite.Models.EventDetails>

@{
    ViewBag.Title = "Index";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" style="max-height:300px" role="listbox">
        <div class="item active">
            <div class="fill">
                <img style="width:100%" src="~/Content/Images/Eyal.jpg" alt="Eyal">
            </div>
        </div>

        <div class="item">
            <div class="fill">
                <img style="width:100%" src="~/Content/Images/Jerusalem_from_mt_olives.jpg" alt="Jerusalem">
            </div>
        </div>

        <div class="item">
            <div class="fill">
                <img style="width:100%" src="~/Content/Images/Tel_Aviv_Skyline.jpg" alt="Tel-Aviv">
            </div>
        </div>

        <div class="item">
            <div class="fill">
                <img style="width:100%" src="~/Content/Images/desert_carousel.jpg" alt="Desert">
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="container">
    <div class="col-lg-12">
        <h1 class="page-header responsive" style="color:DarkSlateGray">
            I invite you to register on tours and discover amazing Israel!
        </h1>
    </div>
</div>
<!-- Upcoming tours section -->
<div class="container">
    <div class="row">
        <div class="container">
            <div class="col-md-12">
                <h2>
                    Upcoming Tours
                </h2>
            </div>
        </div>
        <div class="container" id="upcomingEvents">
        </div>
    </div>
</div>

<div class="container">
    <form>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4
                   <label for=" searchtextbox">
                <label> Enter a Location (e.g., "Jerusalem"), an Area (e.g., "south") or a Category (e.g., "nature"): </label>
                <div class="input-group">
                    <input class="form-control" type="text" name="search" id="searchTextbox" value="@ViewBag.SearchTextbox">
                    <span class="input-group-btn">
                        <input type="button" class="btn btn-primary" onclick="gotoTours(document.getElementById('searchTextbox').value)" value="Search Tour"/>
                    </span>
                </div><!-- /input-group -->
                <p> @ViewBag.SearchMessage</p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        </form>
    </div>

        @*<script src="@Url.Content("~/JS/jquery.min.js")"></script>
        <script src="@Url.Content("~/JS/bootstrap.min.js")"></script>*@
        <script src="@Url.Content("~/JS/bootstrap-accessibility_1.0.3.min.js")"></script>
        <script src="@Url.Content("~/JS/functions.js")"></script>
        <script src="JS/jquery.dataTables.min.js"></script>
        <script src="JS/dataTables.bootstrap.js"></script>

        <script type="text/javascript">
            function gotoTours(keyword) {
                if (keyword != undefined) {
                    window.location.href = "../Tours/Index/" + keyword;
                }
                else {
                    window.location.href = "../Tours/";
                }
            }


            function gotoAdvancedSearch() {
                window.location.href = "Home/AdvancedSearch/";
            }

            // Search tour with Enter
            $(function () {
                $('input').keydown(function (e) {
                    console.log("Enter");
                    if (e.keyCode == 13) {
                        $("input[value='Search Tour']").focus().click();
                        return false;
                    }
                });
            });

            function GetUpcomingEvents() {
                console.log('function')
                Type = "GET";
                Url = "../TourGuideSvc/TourGuideSvc.svc/GetUpcomingEvents";
                Data = {}
                ContentType = "application/json; charset=utf-8";
                DataType = "json"; varProcessData = true;

                $.ajax({
                    type: Type,                   //GET or POST or PUT or DELETE verb
                    url: Url,                     // Location of the service
                    data: Data,                   //Data sent to server
                    contentType: ContentType,               // content type sent to server
                    dataType: DataType,                     //Expected data format from server
                    processdata: varProcessData,            //True or False
                    success: function (msg) {               //On Successfull service call
                        GetUpcomingEventsSucceeded(msg);
                    },
                    error: ServiceFailed// When Service call fails
                });
            }

            function ServiceFailed(result) {
                alert('Service call failed: ' + result.status + '' + result.statusText);
                Type = null;
                varUrl = null;
                Data = null;
                ContentType = null;
                DataType = null;
                ProcessData = null;
            }

            function GetUpcomingEventsSucceeded(result) {
                console.log(result);
                var i = 0;
                objUL = document.getElementById("upcomingEvents");
                objUL.innerHTML = "";
                //if (objUL != null) {
                //    for (i = 0; i < result.length; i++) {
                //        var objli = document.createElement("li");
                //        var date = result[i].TourDate.split("(");
                //        date = date[1].split("+");
                //        date = date[0];
                //        date = new Date(parseInt(date));
                //         Decide about the date format. Make it consistent.
                //        objli.innerHTML = "<a href='../Home/EventDetails/" + result[i].TourID + "?date=" + date.toISOString() + "')>" + result[i].TourName + " " + date + "</a>";
                //        objUL.appendChild(objli);
                //    }

                if (objUL != null) {
                    for (i = 0; i < result.length; i++) {
                        var div1 = document.createElement('div');
                        if (result.length < 3) {
                            div1.className = 'col-md-6';
                        }
                        else {
                            div1.className = 'col-md-4';
                        }
                        var date = result[i].EventInfo.TourDate.split("(");
                        date = date[1].split("+");
                        date = date[0];
                        date = new Date(parseInt(date));
                        // Decide about the date format. Make it consistent.
                        var heading1 = "" + result[i].TourInfo.TourName;
                        var heading2 = "" + date.toDateString() + " " + date.toLocaleTimeString(navigator.language, { hour: '2-digit', minute: '2-digit' });


                        div1.innerHTML = '<div class="panel panel-default">\
                                                <div class="panel-heading">\
                                                   <h3 style="color:DarkRed">' + heading1 + '</h3>\
                                                   <h4>' + heading2 + '</h4>\
                                                </div>\
                                                <div class="panel-body">\
                                                    <p>'+ result[i].TourInfo.TourDescription + '</p>\
                                                    <img class="img-responsive img-rounded" style="width:200px;height:160px" src="../Tours/GetImage/?tourid=' + result[i].TourInfo.TourID + '" alt=""><br />\
                                                    <a href="../Home/EventDetails/' + result[i].TourInfo.TourID + '?date=' + date.toISOString() + '" class="btn btn-default">More Details</a>\
                                                </div>\
                                                </div>'
                        objUL.appendChild(div1);
                    }
                }
            }
            window.onload = GetUpcomingEvents();

//<!-- Script to Activate the Carousel -->
            $(document).ready(function(){
                // Activate Carousel
                $("#myCarousel").carousel({interval: 3000, wrap:true});
            });

        </script>




