@model List<TourGuideProtocol.DataStruct.AEvent>
@using TourGuideProtocol.DataStruct


@{
    ViewBag.Title = "Index";
}

<h1> Eyal Arad. Your tour guide in Israel.</h1>

<h2>
    Hi! I'm Eyal, a certified tour guide.<br/>
    I invite you to register to tours in amazing Israel!
</h2>
<div>
    <input type="image" src="/Content/Images/Jerusalem.jpg" alt=" submit" width="100" height="100">
    <h3> Jerusalem </h3>

</div>
<div>
    <input type="image" src="/Content/Images/Haifa.jpg" alt=" submit" width="100" height="100">
    <h3> Haifa </h3>
</div>
<div>
    <input type="image" src="/Content/Images/Tel_Aviv.jpg" alt=" submit" width="100" height="100">
    <h3> Tel Aviv </h3>

</div>


<form>
    <input type="text" name="search" id="searchTextbox" value="@ViewBag.SearchTextbox">&nbsp @ViewBag.SearchMessage<br><br />
    <input type="button" onclick="gotoTours(document.getElementById('searchTextbox').value)" value="Search Tour"/>&nbsp<input type="button" onclick="gotoAdvancedSearch()" value="Advanced Search" />
</form>


<ul>
    @foreach(AEvent e in Model)
    {

        <li>@Html.ActionLink(@e.TourName +" " + @e.TourDate, "EventDetails", new { id = @e.TourID, date = @e.TourDate })  <span></span></li>
    }
</ul>

<input type="button" value="Sign up" onclick="gotoRegistration()" />
<input type="button" value="Log in" onclick="gotoLogin()" />
<input type="button" value="Admin" onclick="gotoAdmin()" /> 
<input type="button" value="Tours" onclick="gotoTours()" /> 

<script type="text/javascript">
    function gotoRegistration() {
        window.location.href = 'Home/Registration';
    }

    function gotoLogin() {
        window.location.href = 'Account/Login';
    }

    function gotoAdmin() {
        window.location.href = 'Admin';
    }
 
    function gotoTours(keyword) {
        if (keyword != undefined)
        {
            window.location.href = "../Tours/Index/" + keyword;
        }
        else
        {
            window.location.href = "../Tours/";
        }
   }
    
    
    function gotoAdvancedSearch() {
        window.location.href = "Home/AdvancedSearch/";
    }
</script>