@model TourGuideProtocol.DataStruct.AReg

@{
    ViewBag.Title = "Delete";
}

<h1 class="page-header">
    Delete Registration
</h1>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index")">Registration</a></li>
    <li><a href="#"></a>Delete</li>
    <li class="active">
        <span>@Html.DisplayFor(model => model.RegFirstName)</span>&nbsp
        <span>@Html.DisplayFor(model => model.RegLastName)</span>&nbsp
        @Html.DisplayFor(model => model.TourDate)
    </li>
</ol>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>
    <span>@Html.DisplayFor(model => model.RegFirstName)</span>&nbsp
    <span>@Html.DisplayFor(model => model.RegLastName)</span>&nbsp
    @Html.DisplayFor(model => model.TourDate)
</legend>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.TourName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TourName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TourDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TourDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RegFirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RegFirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RegLastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RegLastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RegBirthday)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RegBirthday)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RegTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RegTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WillAttend)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WillAttend)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsPaid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsPaid)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsSentEmail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsSentEmail)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Attended)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Attended)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
