@model TourGuideProtocol.DataStruct.AUser

@{
    ViewBag.Title = "Details";
}

<h1 class="page-header">
    User Details
</h1>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index")">User</a> </li>
    <li><a href="#"></a>Details</li>
    <li class="active">
        <span>@Html.DisplayFor(model => model.UserFirstName)</span>&nbsp
        <span>@Html.DisplayFor(model => model.UserLastName)</span>&nbsp
        @Html.DisplayFor(model => model.Username)
    </li>
</ol>

<fieldset>
    <legend>
        <span>@Html.DisplayFor(model => model.UserFirstName)</span>&nbsp
        <span>@Html.DisplayFor(model => model.UserLastName)</span>&nbsp
        @Html.DisplayFor(model => model.Username)
    </legend>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.RegTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RegTime)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.UserIP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserIP)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.UserFirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserFirstName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.UserLastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserLastName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.UserPhone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserPhone)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.UserEmail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserEmail)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Username)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Username)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.UserBirthday)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserBirthday)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.UserID, UserBirthday = Model.UserBirthday }) |
    @Html.ActionLink("Back to List", "Index")
</p>
