@model TourGuideProtocol.DataStruct.AUser

@{
    ViewBag.Title = "Edit";
}

<h1 class="page-header">
    Edit User
</h1>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index")">User</a> </li>
    <li><a href="#"></a>Edit</li>
    <li class="active">
        <span>@Html.DisplayFor(model => model.UserFirstName)</span>&nbsp
        <span>@Html.DisplayFor(model => model.UserLastName)</span>&nbsp
        @Html.DisplayFor(model => model.Username)
    </li>
</ol>

@using(Html.BeginForm(new {@class="form-horizontal",  @role="form"})){
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    // Passing to the controller (the div is hidden)
    <div hidden="hidden">
        @Html.EditorFor(x => x.UserPassword);
        @Html.EditorFor(x => x.Username);
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2" for="UserFirstName">First Name:</label>
            <div class="col-sm-4">
                @Html.TextBoxFor(model => model.UserFirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserFirstName)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="UserLastName">Last Name:</label>
            <div class="col-sm-4">
                @Html.TextBoxFor(model => model.UserLastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserLastName)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="UserPhone">Phone:</label>
            <div class="col-sm-4">
                @Html.TextBoxFor(model => model.UserPhone, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserPhone)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="UserEmail">Email:</label>
            <div class="col-sm-4">
                @Html.TextBoxFor(model => model.UserEmail, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserEmail)
            </div>
        </div>
        <div class="container">
            <div class="row">
                <label class="control-label col-sm-2" for="UserBirthday">Birthday:</label>
                <div class='col-sm-4'>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker2'>
                            @Html.TextBoxFor(model => model.UserBirthday, new { @class = "form-control", @type = "text" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.UserBirthday)
                    </div>
                </div>
                <script type="text/javascript">
                        $(function () {
                            $('#datetimepicker2').datetimepicker();
                        });
                </script>
            </div>
        </div>
    
       
      
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-default" value="Save" />
            </div>
        </div>
    </div>

@*@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>AUser</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.UserFirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserFirstName)
            @Html.ValidationMessageFor(model => model.UserFirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserLastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserLastName)
            @Html.ValidationMessageFor(model => model.UserLastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserPhone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserPhone)
            @Html.ValidationMessageFor(model => model.UserPhone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserEmail)
            @Html.ValidationMessageFor(model => model.UserEmail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserPassword)
            @Html.ValidationMessageFor(model => model.UserPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Username)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Username)
            @Html.ValidationMessageFor(model => model.Username)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserBirthday)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserBirthday)
            @Html.ValidationMessageFor(model => model.UserBirthday)
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>*@
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

