@model TourGuideProtocol.DataStruct.ATour

@{
    ViewBag.Title = "Delete";
}

<h1 class="page-header">
   Delete Tour
</h1>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index")">Tour</a> </li>
    <li><a href="#"></a>Delete</li>
    <li class="active">
        @Html.DisplayFor(model => model.TourName)
    </li>
</ol>

<h3>Are you sure you want to delete this?</h3>

<div class="alert alert-danger">
    <strong>NOTE!</strong> Deleting the tour will delete all the tour-connected events and registartions from the database!
</div>

<fieldset>
    <legend>@Html.DisplayFor(model => model.TourName)</legend>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.TourName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TourName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TourLocation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TourLocation)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TourArea)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TourArea)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TourCategory)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TourCategory)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TourDuration)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TourDuration)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TourPrice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TourPrice)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MinReg)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MinReg)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaxReg)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaxReg)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TourDescription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TourDescription)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}

<!-- Exception mgs -->
@if(TempData["DeleteException"] != null)
{
    <div class="container">
        <h2>
            @TempData["DeleteException"];
        </h2>
    </div>
}
