@model TourGuideProtocol.DataStruct.ATour

@{
    ViewBag.Title = "Details";
}

<h1 class="page-header">
    Tour Details
</h1>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index")">Tour</a> </li>
    <li><a href="#"></a>Details</li>
    <li class="active">
        @Html.DisplayFor(model => model.TourName)
    </li>
</ol>

<fieldset>
    <legend>@Html.DisplayFor(model => model.TourName)</legend>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.TourName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TourName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TourLocation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TourLocation)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TourArea)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TourArea)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TourCategory)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TourCategory)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TourDuration)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TourDuration)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TourPrice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TourPrice)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MinReg)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MinReg)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaxReg)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaxReg)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TourDescription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TourDescription)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TourID }) |
    @Html.ActionLink("Add Event", "AddEvent", new { id = Model.TourID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
