@model IEnumerable<TourGuideProtocol.DataStruct.ATour>

@{
    ViewBag.Title = "Index";
}

<h2>Tours</h2>

<div id="sortingCats">
    <ul class="nav nav-tabs responsive" id="sortingByCats">
        <li class="active"><a href="@Url.Action("Index", "Tour")">Tours</a></li>
        <li> <a href="@Url.Action("Index", "Event")">Events</a></li>
        <li><a href="@Url.Action("Index", "Reg")">Registrations</a></li>
        <li><a href="@Url.Action("Index", "User")">Users</a></li>
    </ul>
</div>


<div class="tab-content responsive">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <div class="table-responsive">
        <table class="table table-condensed">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TourName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TourLocation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TourArea)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TourCategory)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TourDuration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TourPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MinReg)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaxReg)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TourDescription)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TourName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TourLocation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TourArea)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TourCategory)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TourDuration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TourPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MinReg)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaxReg)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TourDescription)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.TourID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.TourID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.TourID }) |
                        @Html.ActionLink("Add Event", "AddEvent", new { id = item.TourID })

                    </td>
                </tr>
            }
        </table>
    </div>
    </div>
