@model TourGuideProtocol.DataStruct.ATour

@{
    ViewBag.Title = "TourDescription";
}

<h1 class="page-header">
    Tour Description: @Html.DisplayFor(model => @model.TourName)
</h1>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index")">Tours</a> </li>
    <li><a href="#"></a>Tour Description</li>
    <li class="active">
        @Html.DisplayFor(model => model.TourName)
    </li>
</ol>

<!-- Portfolio Item Row -->
@*<script type="text/javascript">
        var location = '@Model.TourLocation.ToLower()';
        var imageName1 = '' + location.toString() + '1.jpg';
        console.log(imageName1);
        var imageName2 = '' + location.toString() + '2.jpg';
        var imageName3 = '' + location.toString() + '3.jpg';
        document.getElementById("img1").src = "~/Content/Images/" + imageName1;
    </script>*@

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" style="max-height:420px">
                    <div class="item active">
                        <img class="img-responsive" style="width:100%" id="img1" src="~/Content/Images/@(Model.TourLocation.ToString()+"1").jpg" alt="" />
                    </div>
                    <div class="item">
                        <img class="img-responsive" style="width:100%" id="img2" src="~/Content/Images/@(Model.TourLocation.ToString()+"2").jpg" alt="" />
                    </div>
                    <div class="item">
                        <img class="img-responsive" style="width:100%" id="img3" src="~/Content/Images/@(Model.TourLocation.ToString()+"3").jpg" alt="" />
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <h2>@Html.DisplayFor(model => model.TourName) </h2>
            <p>@Html.DisplayFor(model => model.TourDescription)</p>
            <h3>Tour Details</h3>
            <table class="table table-condensed">
                <tr>
                    <td>
                        Location
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.TourLocation)
                    </td>
                </tr>
                <tr>
                    <td>
                        Area
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.TourArea)
                    </td>
                </tr>
                <tr>
                    <td>
                        Category
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.TourCategory)
                    </td>
                </tr>
                <tr>
                    <td>
                        Duration (in hours)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.TourDuration)
                    </td>
                </tr>
                <tr>
                    <td>
                        Price
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.TourPrice)
                    </td>
                </tr>
            </table>
            <p>
                @Html.ActionLink("Tour Dates", "TourDates", new { id = Model.TourID, keyword = ViewBag.keyword }) |
                @Html.ActionLink("Back to Tour List", "Index", new { id = ViewBag.keyword })
            </p>

        </div>
    </div>
    <!-- /.row -->
</div>

<script type="text/javascript">
    //<!-- Script to Activate the Carousel -->
    $(document).ready(function () {
        // Activate Carousel
        $("#myCarousel").carousel({ interval: 3000, wrap: true });
    });

</script>


