@model TourGuideProtocol.DataStruct.AEvent

@{
    ViewBag.Title = "Delete";
}

<h1 class="page-header">
    Delete Event
</h1>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index")">Event</a></li>
    <li><a href="#"></a>Delete</li>
    <li class="active">
        <span>@Html.DisplayFor(model => model.TourName)</span>&nbsp
        @Html.DisplayFor(model => model.TourDate)
    </li>
</ol>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend><span>@Html.DisplayFor(model => model.TourName)</span>&nbsp
    @Html.DisplayFor(model => model.TourDate)</legend>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.TourName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TourName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TourDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TourDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TourOriginalDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TourOriginalDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TourGuide)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TourGuide)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsOn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsOn)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}

<!-- Exception msg -->
@if (TempData["DeleteException"] != null)
{
    <div class="container">
        <h2>
            @TempData["DeleteException"];
        </h2>
    </div>
}
