@model TourGuideProtocol.DataStruct.AEvent

@{
    ViewBag.Title = "Details";
}

<h1 class="page-header">
    Event Details
</h1>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index")">Event</a> </li>
    <li><a href="#"></a>Details</li>
    <li class="active">
        <span>@Html.DisplayFor(model => model.TourName)</span>&nbsp
        @Html.DisplayFor(model => model.TourDate)
    </li>
</ol>

<fieldset>
    <legend>
        <span>@Html.DisplayFor(model => model.TourName)</span>&nbsp
        @Html.DisplayFor(model => model.TourDate)
    </legend>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.TourName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TourName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TourDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TourDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TourGuide)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TourGuide)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsOn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsOn)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { tourid=@Model.TourID, tourdate = @Model.TourDate  } ) |
    @Html.ActionLink("Back to List", "Index")
</p>
