@model TourGuideProtocol.DataStruct.AEvent

@{
    ViewBag.Title = "Edit";
}

<h1 class="page-header">
    Edit Event
</h1>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index")">Event</a> </li>
    <li><a href="#"></a>Edit</li>
    <li class="active">
        @Html.DisplayFor(model => model.TourName)
    </li>
</ol>

@using(Html.BeginForm(new {@class="form-horizontal",  @role="form"})){
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    // Passing the TourOriginalDate and TourID to the controller (the div is hidden)
    <div hidden="hidden">
        @Html.EditorFor(x => x.TourOriginalDate);
        @Html.EditorFor(x => x.TourName);
        @Html.EditorFor(x => x.TourID);
    </div>
    <div class="form-horizontal">
            <div class="container">
                <div class="row">
                    <label class="control-label col-sm-2" for="TourDate">Tour Date:</label>
                    <div class='col-sm-4'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker2'>
                                @Html.TextBoxFor(model => model.TourDate, new {@class = "form-control", @type="text"})
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>               
                            </div>
                            @Html.ValidationMessageFor(model => model.TourDate)
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#datetimepicker2').datetimepicker();
                        });
                    </script>
                </div>
            </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="TourGuide">Tour Guide:</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.TourGuide, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TourGuide)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="row">
                            @Html.CheckBoxFor(model => model.IsOn, new { @id="IsOn"})
                            <label class="control-label" for="IsOn">Event is on</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" class="btn btn-default" value="Save" />
                    </div>
                </div>
            </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
